Repository tuaha311/washmix: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort

black:
  name: black
  entry: black --verbose app
  language: python
  verbose: true

isort:
  name: isort
  entry: isort app
  language: python

Fix CreateIntentSerializer
  app/billing/api/serializers/payments.py
  app/billing/api/views/payments.py
  app/billing/services/intent.py
Due: black, isort

Refactor
  app/billing/api/views/payments.py
  app/billing/services/webhook.py
Due: black, isort

Added round
  app/core/utils.py
Due: black, isort

Custom theme for django-jet
  app/assets/jet/css/themes/washmix/_variables.scss
  app/assets/jet/css/themes/washmix/base.css
  app/assets/jet/css/themes/washmix/base.css.map
  app/assets/jet/css/themes/washmix/base.scss
  app/assets/jet/css/themes/washmix/jquery-ui.theme.css
  app/assets/jet/css/themes/washmix/jquery-ui.theme.css.map
  app/assets/jet/css/themes/washmix/jquery-ui.theme.scss
  app/assets/jet/css/themes/washmix/select2.theme.css
  app/assets/jet/css/themes/washmix/select2.theme.css.map
  app/assets/jet/css/themes/washmix/select2.theme.scss
  app/other/static/other/css/admin.css
  app/settings/base.py
Due: black, isort

WM-304 Added /driver/ namespace
  app/api/driver/urls.py
  app/api/urls.py
  app/deliveries/api/driver/__init__.py
  app/deliveries/api/driver/serializers.py
  app/deliveries/api/driver/views.py
Due: black, isort

Bugfix
  app/api/driver/urls.py
  app/settings/base.py
Due: black, isort

Basket, Request added to admin
  app/deliveries/admin.py
  app/orders/admin.py
Due: black, isort

Update README.md
  README.md
  app/core/fixtures/dump.json
Due: none

Move some static files to `other` folder
  app/other/static/jet/css/themes/washmix/_variables.scss
  app/other/static/jet/css/themes/washmix/base.css
  app/other/static/jet/css/themes/washmix/base.css.map
  app/other/static/jet/css/themes/washmix/base.scss
  app/other/static/jet/css/themes/washmix/jquery-ui.theme.css
  app/other/static/jet/css/themes/washmix/jquery-ui.theme.css.map
  app/other/static/jet/css/themes/washmix/jquery-ui.theme.scss
  app/other/static/jet/css/themes/washmix/select2.theme.css
  app/other/static/jet/css/themes/washmix/select2.theme.css.map
  app/other/static/jet/css/themes/washmix/select2.theme.scss
Due: none

Update README
  README.md
Due: none

Update dump
  app/core/fixtures/dump.json
Due: none

WM-304 Added login
  app/api/driver/urls.py
Due: black, isort

WM-313 Add more info about address in /deliveries
  app/core/fixtures/dump.json
  app/deliveries/api/driver/serializers.py
Due: black, isort

WM-315 Added Delivery.priority field
  app/billing/admin.py
  app/deliveries/admin.py
  app/deliveries/migrations/0005_auto_20201208_2132.py
  app/deliveries/migrations/0006_auto_20201208_2135.py
  app/deliveries/migrations/0007_auto_20201208_2136.py
  app/deliveries/migrations/0008_auto_20201208_2138.py
  app/deliveries/migrations/0009_auto_20201208_2139.py
  app/deliveries/models/delivery.py
  app/orders/migrations/0009_auto_20201208_2132.py
Due: black, isort

WM-315 Added DeliverySerializer.priority field
  app/deliveries/api/driver/serializers.py
Due: black, isort

WM-315 Added client info
  app/deliveries/api/driver/serializers.py
Due: black, isort

Update prices
  app/core/fixtures/dump.json
  app/orders/models/price.py
Due: isort

Added filtering on kind field for /deliveries/
  app/deliveries/api/driver/views.py
  app/settings/base.py
Due: black, isort

Added note field on Delivery
  app/deliveries/api/driver/serializers.py
  app/deliveries/choices.py
  app/deliveries/migrations/0010_delivery_note.py
  app/deliveries/migrations/0011_auto_20201210_1734.py
  app/deliveries/models/delivery.py
  app/orders/migrations/0010_auto_20201210_1734.py
Due: black, isort

Added status field to delivery filter
  app/deliveries/api/driver/views.py
Due: black, isort

WM-318 Added final edits on admin
  app/billing/admin.py
  app/deliveries/admin.py
  app/other/site.py
  app/users/admin.py
  app/users/migrations/0008_auto_20201210_2157.py
  app/users/migrations/0009_auto_20201210_2257.py
  app/users/mixins.py
  app/users/models/client.py
  app/users/models/customer.py
  app/users/models/employee.py
Due: black, isort

Added django-debug-toolbar
  app/settings/base.py
  app/settings/dev.py
  app/settings/staging.py
  app/settings/urls.py
  poetry.lock
  pyproject.toml
Due: black, isort

Added new version of dump
  README.md
  app/core/fixtures/dump.json
Due: none

Update fixtures
  app/core/fixtures/dump.json
Due: none

Bugfix
  app/settings/urls.py
Due: black, isort

Docker-compose hotfix
  docker-compose.local.yml
Due: none

WM-318 Added fixes in admin part
  app/deliveries/admin.py
  app/deliveries/models/request.py
  app/orders/admin.py
  app/orders/models/order.py
  app/other/site.py
  app/other/static/other/css/admin.css
  app/other/static/other/js/admin.js
  app/users/admin.py
Due: black, isort

Docker-compose hotfix
  app/settings/base.py
  app/settings/urls.py
  docker-compose.local.yml
Due: black, isort

Docker-compose fix
  app/settings/base.py
  app/settings/staging.py
  app/settings/urls.py
Due: black, isort

Hotfix
  poetry.lock
  pyproject.toml
Due: none

Set font-family to Montserrat
  app/other/static/jet/css/themes/washmix/_variables.scss
  app/other/static/jet/css/themes/washmix/base.css
  app/other/static/jet/css/themes/washmix/base.css.map
  app/other/static/jet/css/themes/washmix/base.scss
Due: none

WM-318 Added more fixes
  app/billing/admin.py
  app/deliveries/admin.py
Due: black, isort

WM-318 Added delivery page on request
  app/deliveries/admin.py
  app/deliveries/models/request.py
  app/other/static/other/css/admin.css
Due: black, isort

WM-318 Remove Coupon.kind, Coupon.max_redemptions
  app/billing/migrations/0003_remove_coupon_kind.py
  app/billing/migrations/0004_remove_coupon_max_redemptions.py
  app/billing/models/coupon.py
  app/core/fixtures/dump.json
Due: black, isort

Hotfix
  app/core/fixtures/dump.json
Due: none

WM-318 Added ability to add credits on client page
  app/billing/choices.py
  app/billing/migrations/0005_auto_20201215_2005.py
  app/billing/models/invoice.py
  app/billing/tasks.py
  app/billing/utils.py
  app/settings/dev.py
  app/users/admin.py
  app/users/models/client.py
Due: black, isort

WM-318 Bugfix on add_credit button
  app/billing/migrations/0006_auto_20201215_2146.py
  app/billing/migrations/0007_auto_20201215_2147.py
  app/billing/models/invoice.py
  app/core/behaviors.py
  app/orders/migrations/0003_auto_20201215_2147.py
  app/subscriptions/migrations/0003_auto_20201215_2147.py
  app/users/admin.py
Due: black, isort

WM-318 Changed ordering
  app/orders/migrations/0004_auto_20201215_2333.py
  app/orders/models/basket.py
  app/orders/models/order.py
  app/orders/tasks.py
Due: black, isort

Path conditions:
  black: any of: \.py$, but not: models
  isort: any of: \.py$
