Repository tuaha311/washmix: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort

black:
  name: black
  entry: black --verbose app
  language: python
  verbose: true

isort:
  name: isort
  entry: isort app
  language: python

Bugfix dramatiq worker
  app/settings/base.py
Due: black, isort

Bugfix dramatiq Redis client
  app/billing/tasks.py
  app/settings/base.py
Due: black, isort

Bugfix dramatiq client
  app/billing/tasks.py
  app/deliveries/tasks.py
  app/notifications/tasks.py
  app/settings/base.py
Due: black, isort

Added ignored exception
  app/billing/tasks.py
  app/deliveries/tasks.py
  app/notifications/tasks.py
  app/settings/base.py
Due: black, isort

Added filtering for request
  app/deliveries/api/client/views/requests.py
Due: black, isort

WM-364 Added basic styling for emails
  app/assets/images/footer.png
  app/assets/images/logo.png
  app/assets/images/logo_with_text.png
  app/notifications/context.py
  app/notifications/templates/base_email.html
  app/notifications/templates/email/welcome.html
  app/settings/base.py
Due: black, isort

Added filtering field `is_upcoming`
  app/deliveries/api/client/views/requests.py
Due: black, isort

Changed request orderings
  app/deliveries/migrations/0004_change_request_ordering.py
  app/deliveries/models/request.py
Due: black, isort

WM-364 Added email styling
  app/notifications/templates/base_email.html
  app/notifications/templates/base_email_with_info.html
  app/notifications/templates/email/payment_fail_client.html
  app/notifications/templates/email/signup.html
  app/settings/base.py
Due: black, isort

WM-364 Added more styling on email
  app/api/views.py
  app/notifications/templates/base_email.html
  app/notifications/templates/email/signup.html
  app/settings/urls.py
Due: black, isort

WM-364 Remove unused style
  app/notifications/templates/base_email.html
Due: none

WM-364 Remove unused template
  app/notifications/templates/email/welcome.html
Due: none

WM-364 Added more styling
  app/api/views.py
  app/notifications/templates/base_email_with_info.html
  app/notifications/templates/email/new_request.html
  app/notifications/templates/email/purchase_gold_platinum.html
  app/settings/urls.py
Due: black, isort

WM-400 Added new version of Twilio Flow
  app/notifications/templates/sms/new_request.html
  docs/twilio_import_flow.json
Due: none

WM-365 Added `reply_to` handling for SendGrid
  app/notifications/senders/sendgrid.py
  app/settings/base.py
Due: black, isort

WM-381 Hide `View Site` section
  app/branding/site.py
Due: black, isort

WM-393 Remove logic of main card removal
  app/billing/api/views/cards.py
Due: black, isort

WM-397 Added Address.instructions
  app/deliveries/api/client/views/requests.py
  app/deliveries/services/twilio.py
  app/locations/migrations/0003_add_instructions_on_address.py
  app/locations/models.py
Due: black, isort

WM-403 Change time of token life to 30 minutes
  app/settings/base.py
Due: black, isort

WM-401 Added extra checks for pickup start / end
  app/deliveries/tests/test_get_pickup_start_end.py
  app/deliveries/utils.py
  app/settings/base.py
Due: black, isort

WM-392 Remove unique=True from Customer.email, Customer.phone
  app/users/migrations/0002_remove_unique_from_email_phone_on_customer.py
  app/users/models/customer.py
Due: black, isort

Added more information in README
  README.md
  app/notifications/models.py
Due: isort

Added more information in README
  README.md
Due: none

Updated models_architecture.drawio
  app/orders/models/service.py
  app/subscriptions/models/subscription.py
  docs/models_architecture.drawio
Due: isort

WM-402 Change order processing business days from 3 to 2
  app/settings/base.py
Due: black, isort

WM-402 Return business days to 3
  app/settings/base.py
Due: black, isort

Remove legacy code
  .charts/washmix-back/templates/_env.yaml
  app/api/exceptions.py
  app/api/views.py
  app/legacy/__init__.py
  app/legacy/constant.py
  app/legacy/enums.py
Due: black, isort

Added new task
  app/api/views.py
  app/core/tasks.py
  app/settings/base.py
Due: black, isort

WM-398 Added new template of SMS
  app/notifications/templates/sms/new_request.html
Due: none

Disable helm atomic option for debug
  .charts/update.sh
Due: none

Change deployment containers arg
  .charts/washmix-back/templates/deployment.yaml
Due: none

Return helm atomic option
  .charts/update.sh
Due: none

Enable deploy to heroku from master branch
  .circleci/config.yml
Due: none

Switch deploy for staging only from dev branch
  .circleci/config.yml
Due: none

WM-407 Added send SMS on Delivery dropoff logic
  app/notifications/signals.py
  app/notifications/tasks.py
  app/notifications/templates/sms/dropoff_complete.html
  app/notifications/templates/sms/new_delivery.html
  app/settings/base.py
Due: black, isort

Refactor
  app/core/middleware.py
Due: black, isort

WM-408 Added POSService with extra handling for corner cases
  app/billing/services/payments.py
  app/core/containers.py
  app/orders/api/pos/views/checkout.py
  app/orders/services/order.py
  app/orders/services/pos.py
Due: black, isort

WM-408 More bugfix
  app/billing/choices.py
  app/billing/migrations/0004_change_discount_field_on_invoice.py
  app/billing/models/coupon.py
  app/billing/models/invoice.py
  app/billing/models/transaction.py
  app/billing/services/intent.py
  app/billing/services/payments.py
  app/billing/services/webhook.py
  app/billing/stripe_helper.py
  app/billing/utils.py
  app/core/behaviors.py
  app/orders/api/pos/serializers/orders.py
  app/orders/api/pos/views/orders.py
  app/orders/choices.py
  app/orders/models/order.py
  app/orders/services/basket.py
  app/orders/services/order.py
  app/orders/services/pos.py
  app/subscriptions/api/serializers/checkout.py
  app/subscriptions/services/subscription.py
  app/subscriptions/tests/test_finalize_subscription.py
  app/users/admin.py
  app/users/models/client.py
Due: black, isort

WM-308 Changed POS hooks
  app/billing/services/webhook.py
  app/deliveries/containers/delivery.py
  app/orders/services/order.py
  app/orders/services/pos.py
Due: black, isort

Path conditions:
  black: any of: \.py$, but not: models
  isort: any of: \.py$
